a {
  color: black;
}

a:hover {
  color: pink;
}

.button {
  background-color: #61A61C;
}
.button:hover, .button:active {
  background-color: #385916;
}

.top-bar {
  background-color: #548C1C;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.top-bar ul {
  background-color: transparent;
}

#main-section {
  text-align: center;

}

.menu {
  display: flex;
  line-height: 2.5;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.menu a {
  padding-right: 8px;
  margin: auto;
}

.callout {
  margin: 0 10px 0 1rem;
}

.callout.primary {
    background-color: #63c24a;
    border: none;
    height: 100%;
}

/* Donation buttons -------------------------- */
input[type=radio], input[type=checkbox] {
	display:none;
}
input[type=radio] + label, input[type=checkbox] + label {
	padding: 4px 12px;
  margin-bottom: 16px;
	background-color: transparent;
	border: solid 2px #c04f1d;
	color: #c04f1d;
}
/* if clicked */
input[type=radio]:checked + label, input[type=checkbox]:checked + label{
	background-color: transparent;
	color: #61A61C;
}
input[type=radio] + label, input[type=checkbox] + label {
    padding: 10px 20px;
    margin-left: 0;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #61A61C;
    border: solid 1px #61A61C;
    color: #fff;
    border-radius: 3px;
}
