a {
  color: black;
}

.button {
  background-color: #61A61C;
}
.button:hover, .button:active {
  background-color: #385916;
}

.top-bar {
  background-color: #548C1C;
}

.top-bar ul {
  background-color: transparent;
}

#main-section {
  text-align: center;

}

.menu {
  display: flex;
  line-height: 2.5;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.menu a {
  padding-right: 8px;
  margin: auto;
}
